@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap;
}

body{
    background-color: aquamarine;
    font-family: Asap;
}

button{
    border: 1px solid grey;
    padding: 5px 5px;
    margin: 3px;
    width: 100px;
    height: 30px;
}

input[type="text"]{
    border: 1px solid grey;
    padding: 5px 5px;
    margin: 10px;
    width: 200px;
    height: 20px;
}

input[type="password"]{
    border: 1px solid grey;
    padding: 5px 5px;
    margin: 3px;
    width: 200px;
    height: 20px;
}